body,

html {
 margin:0;
 padding:0;
 color:#000;
 background:#f5f5dc;
}

#wrap {
 width:750px;
 margin:0 auto;
}

#header {
 height: 100px;
 margin-top: 10px;
 padding:5px 10px;
 background:#eeeee0;
}

#opts {
 height: 30px;
 margin-top: 10px;
 padding:5px 10px;
 background:#eeeee0;
}

#toppanel {
 height: 450px;
 background:url('/themes/default/images/background2.png') no-repeat;
 background-size: 100%;
}

#title {
 float:left;
 padding: 0px 0px;
 margin: 0px auto;
 background: #000;
 height: 45px ;
 width: 400px;
}


#nav {
 float: left;
 overflow: hidden;
 padding: 0px 0px;
 position: relative; padding: .2em;
 zoom: 1;
 margin-bottom: 0px;
}


#nav ul {
 margin:0;
 padding:0;
 overflow: hidden;
 list-style: none;
 float: left; 
 position: relative; 
 top: 1px; 
 margin: 0 .2em 1px 0;
 border-bottom: 0 !important;
 padding: 0; 
 white-space: nowrap; 
}

#nav li {
 float: left;
 height: 50px;
 width: 120px;
 background: #bbb;
 position: relative; 
 top: 1px; 
 margin: 0 .2em 1px 0;
 border-bottom: 0 !important;
 padding: 0; 
 white-space: nowrap; 
}

#nav li a:link, #navigation li a:visited {
 text-decoration: none;
 cursor: pointer;
 display: block;
 height: 50px;
 color: #fff;
 line-height: 50px;
 padding: 0 9px 0 9px;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 15px;
 font-weight: bold;
 text-align:center; 

}

#nav li a:hover {
 background: #999;
 color: #000;
 border: 1px dotted #3A5896;
}

#nav li a.selected {
 background: #7f46d7;
 color: #fff;
}

#redobutton {
 float:right;
 margin-right:100px;
 width: 30px;
 height: 30px;
}

#helpui {
 float:left;
 margin-left: 10px;
 width: 300px;
 height: 400px;
 margin-top: 50px;
 background:url('/themes/default/images/blocknotes.png') no-repeat;   
 background-size: 100%;
}

#uibar {
 width: 210px;
 height: 200px;
 margin-top: 50px;
}

#uibar.start {
 float:left;
 margin-left:0px;
}

#uibar.end {
 float:left;
 margin-left:270px;
}

#uibar.larger {
 float:left;
 margin-left: 150px;
}

#starticon{
 float:left;
 margin-top: 80px;
 margin-left: 10px;
 height:40px;
 width:70px; 
 background:url('/themes/default/images/start.png') no-repeat;
 background-size: 100%;
}

#startpin, #endpin {
 height: 20px; 
 width: 20px;
 margin-left: 30px; 
}


#endicon{
 float:left;
 margin-top: 80px;
 margin-left: 40px;
 margin-right: auto;
 height:40px;
 width:70px; 
 background:url('/themes/default/images/end.png') no-repeat;
 background-size: 100%;
}

#start2end {
 float:left;
 margin-top: 90px;
 margin-left: 40px;
 height:20px;
 width: 20px;
 background:url('/themes/default/images/street.png') no-repeat;
}

#textdist{
 float:right;
 color:#000;
 margin-right: 40px;
}

#results {
 float:left;
 height:250px;
}

#map_canvas2 {
 float:left;
 height:300px; 
 width:510px; 
 margin-left:120px;
 margin-top:0px;
}

#carset {
 float:left;
 margin-left: 60px;
}

#carslide {
 margin-top: 10px;
 float:left;
 margin-left: 20px;
 width:50px; 
}

#car {
 float:left;
  width:30px;
  height:30px;
} 

#lift {
 float:left;
 margin-left: 20px;
 width:30px;
 height:30px;
}

#datediv {
 float:left;
 width:250px;
}

#settime {
 height: 20px;
 width: 20px;
 margin-top: 5px;  
}

#directions {
 margin-top: 20px;
 height:300px;
 width:250px; 
 padding:10px;
}

#map_canvas {
 width: 240px;
 height: 240px;
}

#resbar {
 float:left;
 margin-left: 200px;
 margin-top: 100px;
 width: 450px;
 height: 50px;
}

#showmap, #tripdetails {
 margin-top: 5px;
 margin-left:20px;
 width: 40px;
 height: 40px;
}
#travelissok {
 margin-top: 5px;
 float:right;
 width: 40px;
 height: 40px
}

#directions.start {
 float:left;
}

#directions.end {
 float:right;
}

#directions.none {
 float:right;
 display: none;
}

.ui-widget {
 font-size: 12px;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
