body,

html {
 margin:0;
 padding:0;
 color:#000;
 background:#f5f5dc;
}

#wrap {
 width:750px;
 margin:0 auto;
}

#header {
 margin-top: 10px;
 padding:5px 10px;
 background:#eeeee0;
}

#toppanel {
 height: 400px;
}

#redo {
 margin-left:400px;
 width: 50px;
 height: 50px; 
}

#redobutton {
 display:inline;
 margin:5px;
 width: 40px;
 height: 40px;
}

#helpui {
 float:left;
 margin-left: 10px;
 width: 300px;
 height: 400px;
 margin-top: 0px;
 background:url('/themes/default/images/blocknotes.png') no-repeat;   
 background-size: 100%;
}

#uibar {
 width: 210px;
 height: 200px;
 margin-top: 0px;
 background:url('/themes/default/images/uibkg.png') repeat; 
}

#uibar.start {
 float:left;
 margin-left:0px;
}

#uibar.end {
 float:left;
 margin-left:270px;
}

#uibar.larger {
 float:left;
 margin-left: 150px;
}

#starticon{
 float:left;
 margin-top: 80px;
 margin-left: 10px;
 height:40px;
 width:70px; 
 background:url('/themes/default/images/start.png') no-repeat;
 background-size: 100%;
}

#startpin, #endpin {
 height: 20px; 
 width: 20px;
 margin-left: 30px; 
}


#endicon{
 float:left;
 margin-top: 80px;
 margin-left: 40px;
 margin-right: auto;
 height:40px;
 width:70px; 
 background:url('/themes/default/images/end.png') no-repeat;
 background-size: 100%;
}

#start2end {
 float:left;
 margin-top: 90px;
 margin-left: 40px;
 height:20px;
 width: 20px;
 background:url('/themes/default/images/street.png') no-repeat;
}

#textdist{
 float:right;
 color:#000;
 margin-right: 40px;
}

#results {
 float:left;
 height:250px;
 padding:10px;
 background:#eeeee0;
}

#map_canvas2{
 float:left;
 height:300px; 
 width:510px; 
 margin-left:120px;
 margin-top:20px;
}

#directions {
 height:300px;
 width:250px; 
 padding:10px;
}

#map_canvas {
 width: 240px;
 height: 240px;
}

#directions.start {
 float:left;
}

#directions.end {
 float:right;
}

#directions.none {
 float:right;
 display: none;
}









