body,

html {
 margin:0;
 padding:0;
 color:#000;
 background:#f5f5dc;
}

#wrap {
 width:750px;
 margin:0 auto;
 background:#e0ffff;
}

#header {
 margin-top: 10px;
 padding:5px 10px;
 background:#eeeee0;
}

#toppanel {
 height: 400px;
}

#redo {
 margin-left:400px;
 width: 50px;
 height: 50px;
 background:#000; 
}

#redobutton {
 display:inline;
 margin:5px;
 width: 40px;
 height: 40px;
}

#uibar {
 width: 210px;
 height: 200px;
 background:#000;
 margin-top: 0px;
}

#uibar.start {
 float:left;
 margin-left:0px;
}

#uibar.end {
 float:left;
 margin-left:270px;
}

#uibar.larger {
 float:left;
 margin-left: 150px;
}

#results {
 float:left;
 height:250px;
 padding:10px;
 background:#eeeee0;
}

#directions {
 height:300px;
 width:250px; 
 padding:10px;
 background:#000;
}

#map_canvas {
 width: 240px;
 height: 240px;
}

#directions.start {
 float:left;
}

#directions.end {
 float:right;
}

#directions.none {
 float:right;
 display: none;
}
